<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Metron Automations</title>
    @Styles.Render("~/Content/css")
</head>
<body class="hold-transition skin-yellow-light sidebar-mini">
    <div class="wrapper">

        @{
            Html.RenderPartial("_Header");
        }

        @{
            Html.RenderPartial("_Sidebar");
        }

        @RenderBody()

        @{
            Html.RenderPartial("_Footer");
        }

        @{
            Html.RenderPartial("_ControlSidebar");
        }

    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
